.do-evaluate,{
	padding: 0;
	text-align: center;
}

.evaluate-box, .src-code-box { margin: 0px auto; }

.box-title {
	font-size: 1.8em;
	color: #fff;
}

.do-evaluate > div {
	padding: 30px;
}

.evaluate-box > div > div, .src-code-box > div > div {
	padding: 0;
}
