.do-evaluate,{
	padding: 0;
	text-align: center;
}

.evaluate-box, .src-code-box { margin: 0px auto; }

.do-evaluate > div {
	padding: 30px;
}

.evaluate-box > div > div, .src-code-box > div > div {
	padding: 0;
}

.evaluate-box > div > form > label {
	
	font-size:18px; 
}
	

/* Input 사이사이 간격 벌리고 싶은데 CSS...*/